<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.zhaizz.mapper.ExcelSheetChunkMapper">
    <insert id="insert">
        insert into excel_sheet_chunk (document_id,sheet_id,chunk_index,row_start,row_end,celldata_json)
        values (#{documentId},#{sheetId},#{chunkIndex},#{rowStart},#{rowEnd},#{celldataJson})
    </insert>
</mapper>
